<?xml version='1.0' encoding='utf-8'?>
<widget id="com.appcross.crossselva" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>CrossSelva</name>
    <description>
        Aplicativo mobile para gestão Crossfit.
    </description>
    <author email="rafaqcosta@gmail.com" href="http://phonegap.com">
        Rafael A. Q. Costa
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
